@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");


*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

:root {
    --darkGreen: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --gray: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --head: 2rem;
    --text: 1rem;
}

.container{
    min-height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-box{
    background-color: white;
    max-width: 400px;
    margin: 1em 2em;
    border-radius: 1.5rem;
    

}

.img{
    max-width: 100%;


}

.desktop_img{
    
   
    border-radius: 1em 0 0 1em ;
   

}

.card_text{
    text-align: left;
    margin: 1.5em 2em;
}

.product{
    font-family: "Montserrat", sans-serif;
    font-size: var(--text);
    color: var(--gray);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 500;
}

